{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'javasc/jquery37.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{% static 'javasc/mapCode.js' %}"></script>
</head>
<body>
<div id="entete">
    <h1>Application sur les incendies de forêts</h1>
    <p>
        Ici, vous pouvez voir les statistiques sur les incendies au niveau des différentes DPEFLCD, CCDRF, Secteurs forestiers
        au sein de la DREFLCD-RIF.
        Attention : Les lieux d'éclosion et surfaces ainsi que les dates ont été créées juste pour la démonstration!
        Activer les couches que vous voulez (CCDRF, DPEFLCD, Secteur forestiers) puis cliquer sur celle désirée pour voir
        les informations afférentes dans la partie droite
    </p>
</div>

{% block content %} {% endblock %}

</body>
</html>